//- details.jade
//-
//-
//- view for a single artist
extends ../layout

block content
        a(href="/stage") Go Back 
        if(user != null && user.role == "admin")
            a(href="/stage/" + stage._id + "/update") | Update Stage |
            a(href="/stage/" + stage._id + "/delete") Delete
        h1= stage.name
        ul(style="text-align: center;")
            li
                img.image(src='#{stage.image}' alt="Image not loaded :(")
            li
                h5 <u>Stage size</u>
                p #{stage.size}
            li
                h5 <u>About the Stage</u>
                p #{stage.notes}
        