body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#fff;
  background-image: url("interlaced.png");
	line-height:1em;
	color:#464646;
}
html {
	min-width:980px;
}
html, body {
	height:100%;
}
.container {
	margin:0 auto;
	width:990px;
	font-size:.75em;
}
header .container {
	height:131px;
	overflow:hidden;
	position:relative;
}
h1 {
	padding:17px 0 0 44px;
	font-size:36px;
	line-height:1.2em;
}
h2 {
	color:#464646;
	font-size:30px;
	line-height:1.2em;
	margin-bottom:15px;
	letter-spacing:-1px;
}
h3 {
	font-size:26px;
	line-height:1.2em;
	color:#fff;
	margin-bottom:30px;
}
h4 {
	font-size:20px;
	line-height:1.2em;
	color:#fff;
	margin-bottom:27px;
	letter-spacing:-1px;
}

a {
  color: #00B7FF;
}

/* Navbar code */
#main-navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#main-navbar li {
	float: left;
}
#main-navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#main-navbar li a:hover {
	background-color: #111;
}
#main-navbar .active {
	background-color: #0047AB;
  }
#main-navbar .title-item {
	font-size: large;
}
