//- create.jade
//-
//- create artist form
extends ../layout


block content
  a(href="/artist") Go Back
  form(method="POST" action="/artist/create")
    input(name="name" placeholder="Artist's Name" required=true)
    input(name="stage" placeholder="Stage" required=true)
    input(name="duration" placeholder="Duration" required=true)
    input(name="notes" placeholder="Extra notes" required=false)
    button(type="submit") Create Artist