extends ../layout

block content
  h1= title
  #artistsList_cont
    h2 Meet the Woodstock artists!
      ul
          each artist in artists
            li
              a(href=`/artist/${artist._id}`)= artist.name
  #buttons_cont
    a(href="../") Home
    br
    if(user != null && user.role == "admin")
      a(href="artist/create") Create New Artist