extends ../layout

block content
  h1= title
    h2 Meet the Woodstock Performances!
      ul
          each performance in performances
            if performance._id == "5dd70b631c9d44000047006c"

            else
              li
                a(href=`/performance/${performance._id}`)= performance.name
              
    a(href="../") Home
    br
    a(href="performance/create") Create New Performance